[Desktop Entry]
Categories=Utility;
Comment=Applies the amoled theme to Jan. Re-run after updates
Exec=/usr/bin/Jan-amoled
StartupWMClass=Jan
Icon=Jan
Name=Jan Amoled UI Patcher
Terminal=false
Type=Application
